:root {
  --green: #1db954;
  --black: #121212;
  --lightGray: #dad3d3;
  --lightBlack: #212121;
  --darkGray: #535353;
  --white: #fbfbf8;
  --lightGreen: rgb(110, 249, 117);
  --borderRadius: 5px;
}
.App {
  overflow: hidden;
  color: var(--black);
  background: var(--lightGray);
  /* padding: 0.5rem 3rem; */
  box-sizing: border-box;
}
.button {
  color: var(--white);
  background-color: var(--green);
  /* padding: 0; */
  border-radius: var(--borderRadius);
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: all 0.5 ease-in-out;
}
.button:hover {
  background-color: transparent;
  color: var(--green);
  border: 2px solid var(--green);
}
::-webkit-scrollbar {
  display: none;
}
